---
import '../styles/newsletter.css';
---

<div class="widget newsletter-widget">
  <h3>Intelligence Report</h3>
  <p>Get weekly alpha on income streams delivered to your inbox.</p>
  <form class="newsletter-form" action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="09fbe582-3791-459f-9e7c-cd74ee7d607f" />
    <input type="hidden" name="name" value="Name not required" />
    <input type="email" name="email" placeholder="Enter your email" required />
    <button type="submit">SUBSCRIBE</button>
  </form>
</div>
