---
import { getCollection } from 'astro:content';
import '../styles/trending-sidebar.css';
import { getCategorySlug } from '../utils/imageResolver';

const articles = await getCollection('articles');



const trendingArticles = articles
    .filter(a => 
        a.data.Segment?.toUpperCase() === 'T' && 
        a.data.Home?.toUpperCase() === 'Y'
    )
    .sort((a, b) => {
        const orderA = parseInt(a.data.Order) || 999;
        const orderB = parseInt(b.data.Order) || 999;
        return orderA - orderB;
    })
    .slice(0, 3);
---

<div class="widget trending-widget">
    <div class="widget-header">
        <div class="trending-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
        </div>
        <h3>Trending Now</h3>
    </div>
    
    <div class="trending-list">
        {trendingArticles.map(article => (
            <div class="trending-item">
                <span class="trending-cat">{article.data.Category || article.data.Segment}</span>
                <a href={`/${getCategorySlug(article.data.Category)}/${article.data.slug || article.id}`}>
                    <h4>{article.data.title}</h4>
                </a>
            </div>
        ))}
    </div>
</div>
